
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-family: 'Crimson Pro', serif;
	font-size: 1.2rem;
	font-weight: normal;
}

img	{
	width: 100%;
	margin: 0;
}

figure {
	margin: 0;
}


.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.singlePic {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#scrollyImage {
	position: relative;
}

#heroImage{
	position: sticky;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url("../assets/workers1.jpg");
	background-position: top left;
}

#scrollyHeader {
	position: absolute;
	z-index: 1;
	max-width: 750px;
	margin: 6rem 30px 10rem 30px;
    top: 0;
    display: flex;
    flex-direction: column;
}


h1 {
	display: block;
	font-size: 42px;
	font-weight: normal;
	margin-bottom: 10px;
	text-align: left;
	color: white;
	text-shadow: 1px 1px 2px #000;
}

#byline {
	font-size: 20px;
	text-align: left;
	color: whitesmoke;
}

.scrollyText {
	background-color: rgba(255, 255, 255, 0.85);
	position: relative;
	z-index: 2;
	max-width: 380px;
	margin: 1rem auto 15rem;
	padding: 30px;
	font-size: 1rem;
}

#scrollyLast {
	margin-bottom: 100px;
}

.spacer {
	margin-bottom: 50px;
}

p {
	font-size: 1.125rem;
	line-height: 1.875rem;
}

h2 {
	margin-top: 50px;
	font-size: 25px;
	font-weight: bolder;
}

a {
	color: #414141;
	text-decoration-style: dotted;
}

a:hover {
	background-color: lightyellow;
}

.caption {
	margin: 0px;
	font-size: 15px;
	color: #404040;
	margin-bottom: 20px;
	margin-left: 5px;
}


footer {
	margin-top: 40px;
	font-size: 15px;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	color: whitesmoke;
	background-color:rgba(0,0,0,0.5);
	padding: 6px;
}


@media only screen and (min-width: 33.75em) {
	/*540px */
	.container {
		width: 80%;
	}

	.singlePic {
		width: 80%;
	}
}

@media only screen and (min-width: 45em) {
	/* 720px */

	h1 {
		font-size: 48px;
	}

	#scrollyHeader {
		margin: 8rem 60px 10rem 60px;
	}

	.scrollyText {
		max-width: 600px;
		font-size: 1.2rem;
	}

	.leftPic {
		float: left;
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}

	.rightPic {
		float: left;
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}

	#bags {
		float: left;
		width: 55%;
		margin-right: 20px;
		padding-top: 10px;
	}
}


@media only screen and (min-width: 60em) {
	/* 960px */

	.singlePic {
		width: 50%;
		max-width: 60rem;
	}

	.container {
		width: 50%;
		max-width: 60rem;
	}
}

