nav {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
  background: #3A3B3C;
  padding: 20px 0px;
/*  position: fixed;
  width: 100%;
  top: 0px;*/
}

#ulNav {
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

.liNav {
  display: inline-block;
  font-size: 18px;
  margin-left: 6px;
  margin-right: 6px;
}

.navText {
  text-decoration: none;
  color: whitesmoke;

}

h2 {
  color: #010203;
  margin: 0px;
/*  border-bottom: 1.5px solid #b6b6ab;*/
  }
  
a {
    color: darkblue;
  }

img {
  width: 100%;
}

.box {
  border: 1.5px solid #b6b6ab;
  box-shadow: 0px 1px #b6b6ab;
  box-sizing: border-box;
  padding: 10px;
}